@media (min-width: $mobile-width) {
  .advantages {
    padding-bottom: 28px;
    margin-right: 20.5px;
    align-self: center;
  }

  .advantages__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin: 0;
    margin-bottom: 39px;
    margin-left: 21px;
  }

  .advantages__list {
    list-style-type: none;
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    margin-left: 21px;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    margin: 0 auto -14px auto;
    width: 633px;
    padding-bottom: 0;
  }

  .advantages__wrapper {
    margin-left: -59px;
    padding-top: 26px;
  }

  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 72px;
  }

  .advantages__list {
    display: flex;
    width: 629px;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-top: 71px;
  }

  .advantages__list {
    width: 1224px;
  }
}

@media (min-width: 1441px) {
  .advantages {
    margin: 0;
  }

  .advantages__wrapper {
    margin: 0 auto;
    width: 1224px;
  }
}
