@media (min-width: $mobile-width) {
  .advantages-item {
    margin-bottom: 26px;
    padding-left: 80px;
    position: relative;
    color: $special_dark-grey;
    display:flex;
    padding:0;
    align-items:center;
    margin:0;
    margin-bottom: 20px;
  }

  .advantages-item__description {
    margin:0;
    margin-left: 20px;

    &:nth-of-type(1) {
      width: 176px;
    }

    &:nth-of-type(2) {
      width: 198px;
    }

    &:nth-of-type(3) {
      width: 183px;
    }

    &:nth-of-type(4) {
      width: 199px;
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages-item {
    width: 230px;
    height: 280px;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;

    &:nth-of-type(1),
    &:nth-of-type(3) {
      margin-right: 153px;
    }

    &:nth-of-type(1)::before {
      content: "1";
      position: absolute;
      font-size: 280px;
      line-height: 280px;
      font-family: "Oswald", sans-serif;
      color: #f2f2f2;
      z-index: 1;
      top: -40px;
      left: 88px;
    }

    &:nth-of-type(2)::before {
      content: "2";
      position: absolute;
      font-size: 280px;
      line-height: 280px;
      font-family: "Oswald", sans-serif;
      color: #f2f2f2;
      z-index: 1;
      top: -40px;
      left: 88px;
    }

    &:nth-of-type(3)::before {
      content: "3";
      position: absolute;
      font-size: 280px;
      line-height: 280px;
      font-family: "Oswald", sans-serif;
      color: #f2f2f2;
      z-index: 1;
      top: -40px;
      left: 88px;
    }

    &:nth-of-type(4)::before {
      content: "4";
      position: absolute;
      font-size: 280px;
      line-height: 280px;
      font-family: "Oswald", sans-serif;
      color: #f2f2f2;
      z-index: 1;
      top: -40px;
      left: 88px;
    }
  }
  .advantages-item__icon {
    margin-bottom: 31px;
    z-index: 2;
  }
  .advantages-item__description {
    margin:0;
    z-index: 2;
    line-height: 24px;
    font-size: 16px;
  }
}
