@media (min-width: $mobile-width) {
  .age-input__input {
    width: 166px;
  }
}

@media (min-width: $tablet-width) {
  .age-input {
    margin-bottom: 0;
  }

  .age-input__input {
    width: 489px;
  }
}

@media (min-width: $desktop-width) {
  .age-input__input {
    width: 429px;
  }
}
