@media (min-width: $mobile-width) {
  .age-input__input {
    width: 153px;
    padding-left: 15px;
    padding-top: 17px;
    padding-bottom: 11px;
  }
}

@media (min-width: $tablet-width) {
  .age-input {
    margin-bottom: 0;
  }

  .age-input__input {
    width: 472px;
    padding-top: 22px;
    padding-left: 19px;
    padding-bottom: 13px;
  }
}

@media (min-width: $desktop-width) {
  .age-input__input {
    width: 414px;
    padding-top: 22px;
    padding-left: 17.5px;
    padding-bottom: 13px;
  }
}
