@media (min-width: $mobile-width) {
  .all-items {
    display: flex;
    flex-direction: column;
    padding: 25px 20px 23px 20px;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
  }

  .all-items__plus-icon {
    margin-bottom: 19px;
  }

  .all-items__title {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  .all-items__description {
    margin: 0;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 21px;
  }

  .all-items__button {
    @include button;
    width: 279px;
    height: 40px;
    background-color: #f2f2f2;
    color: #444444;
    font-size: 16px;
    line-height: 20px;
  }

  .all-items__button {
    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      background-color: #ebebeb;
      color: rgba(68, 68, 68, 30%);
    }
  }
}

@media (min-width: $tablet-width) {
  .all-items {
    margin-top: 83px;
    border: 2px solid #f2f2f2;
    padding: 50px 37px 36px 37px;
    justify-content: flex-start;
  }

  .all-items__plus-icon {
    margin-bottom: 44px;
  }

  .all-items__title {
    font-size: 20px;
    line-height: 22px;
    width: 134px;
    text-align: center;
    margin-bottom: 25px;
  }

  .all-items__description {
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    width: 167px;
    text-align: center;
    margin-bottom: 85px;
  }

  .all-items__button {
    width: 249px;
  }
}

@media (min-width: $desktop-width) {
  .all-items {
    margin-top: 82px;
    padding-top: 49px;
  }

  .all-items__button {
    width: 169px;
  }

  .all-items__plus-icon {
    margin-bottom: 45px;
  }

  .all-items__title {
    margin-bottom: 24px;
  }
}
