.all-items {
  display: flex;
  flex-direction: column;
  padding: 25px 20px 25px 20px;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
}

.all-items__plus-icon {
  margin-bottom: 23px;
}

.all-items__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.all-items__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 21px;
}

.all-items__button {
  @include button;
  width: 279px;
  height: 40px;
  background-color: #f2f2f2;
  color: #444444;
  font-size: 16px;
  line-height: 20px;
}
