@media (min-width: $mobile-width) {
  .aside-check__input {
    &:checked + .check {
      background-image: url("../../img/tick.svg");
      background-repeat: no-repeat;
      background-position: 7.09px 5.25px;
    }
  }
}

@media (min-width: $tablet-width) {
  .aside-check {
    &:nth-of-type(1) {
      margin-right: 124px;
      margin-bottom: 32px;
    }

    &:nth-of-type(3) {
      margin-right: 218px;
    }

  }
}

@media (min-width: $desktop-width) {
  .aside-check {
    &:nth-of-type(1) {
      margin-right: 105px;
    }

    &:nth-of-type(2) {
      margin-right: 137px;
    }

    &:nth-of-type(3) {
      margin-right: 198px;
    }
  }
}
