@media (min-width: $mobile-width) {
  .aside {
    margin: 0;
    border: none;
    padding-bottom: 19px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 50%;
      height: 2px;
      background-color: $basic_green;
      right: 0;
      top: 14px;
    }
  }

  .aside__container {
    width: 280px;
    margin: 0 auto;
  }

  .aside__title {
    font-size: 24px;
    line-height: 26px;
    padding-right: 23px;
    margin-bottom: 37px;
    background-color: #ffffff;
    position: relative;
    width: 141px;
    margin-left: -2px;
  }

  .aside__check {
    margin-bottom: 18px;
  }
}

@media (min-width: $tablet-width) {
  .aside {
    margin-left: 0;
    margin-top: -5px;

    &::before {
      width: 100%;
      top: 22px;
    }
  }

  .aside__container {
    width: 565px;
    margin: 0 auto;
  }

  .aside__title {
    font-size: 36px;
    line-height: 36px;
    padding-left: 40px;
    margin-bottom: 67px;
    padding-right: 41px;
    width: 211px;
    margin-left: -72px;
  }

  .aside__wrapper {
    width: 565px;
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -32px;
  }
}

@media (min-width: $desktop-width) {
  .aside__container {
    width: 1220px;
    margin: 0 auto;
  }

  .aside__title {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -40px;
  }

  .aside__wrapper {
    width: 1196px;
    margin-left: 0;
  }
}
