.aside {
  margin-left:20px;
  border-top:2px solid $basic_green;
  padding-bottom:34px;
}
.aside__title {
  font-size:24px;
  line-height:26px;
  padding-right:23px;
  margin-bottom:39px;
}
.aside__check {
  margin-bottom:13px;
}
