@media (min-width: $mobile-width) {
  .aside-check__input {
    &:checked + .check::before {
      background-image: url("../../img/tick.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
}

@media (min-width: $tablet-width) {
  .aside-check {
    &:nth-of-type(1) {
      margin-right: 125px;
      margin-bottom: 41px;
    }

    &:nth-of-type(3) {
      margin-right: 218px;
    }
  }

  .aside-check__input {
    &:checked + .check::before {
      background-image: url("../../img/tick-tablet.svg");
    }
  }
}

@media (min-width: $desktop-width) {
  .aside-check {
    &:nth-of-type(1) {
      margin-right: 102px;
    }

    &:nth-of-type(2) {
      margin-right: 105px;
    }

    &:nth-of-type(3) {
      margin-right: 102px;
    }
  }
}
