@media (min-width: $mobile-width) {
  .catalog-item {
    display: grid;
    grid-template-columns: 140px 140px;
    padding: 21px 18px 14px 20px;
    row-gap: 20px;
    padding-bottom: 24px;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;

    &:not(:nth-of-type(1)) {
      border-top: 1px solid #ebebeb;
    }

    &:nth-of-type(7) {
      border-bottom: 1px solid #ebebeb;
      padding-bottom: 24px;
      margin-bottom: 0;
      padding-top: 21px;
    }

    &:nth-of-type(2) {
      padding-top: 21px;
      padding-bottom: 25px;
    }

    &:nth-of-type(3) {
      padding-top: 21px;
    }

    &:nth-of-type(4) {
      padding-top: 21px;
    }

    &:nth-of-type(6) {
      padding-bottom: 24px;
    }
  }

  .catalog-item {
    &:nth-of-type(2) .catalog-item__title {
      margin-bottom: 14px;
    }

    &:nth-of-type(3) .catalog-item__info,
    &:nth-of-type(4) .catalog-item__info,
    &:nth-of-type(5) .catalog-item__info,
    &:nth-of-type(6) .catalog-item__info,
    &:nth-of-type(7) .catalog-item__info {
      margin-bottom: 2px;
    }
  }

  .catalog-item__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    width: 76px;
    margin: 0;
    margin-bottom: 13px;
  }

  .catalog-item__button {
    @include button;
    grid-column: span 2;
    height: 40px;
    background-color: $basic_green;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    margin-left: -1px;
  }

  .catalog-item__picture__wrapper {
    justify-self: center;
    align-self: center;
  }

  .catalog-item {
    &:nth-of-type(1) .catalog-item__picture__wrapper {
      margin-top: 12px;
    }

    &:nth-of-type(2) .catalog-item__picture__wrapper {
      margin-bottom: -21px;
    }

    &:nth-of-type(3) .catalog-item__picture__wrapper {
      margin-bottom: -30px;
    }

    &:nth-of-type(4) .catalog-item__picture__wrapper {
      margin-bottom: -20px;
    }

    &:nth-of-type(5) .catalog-item__picture__wrapper {
      margin-bottom: -35px;
    }

    &:nth-of-type(6) .catalog-item__picture__wrapper {
      margin-bottom: -21px;
    }

    &:nth-of-type(7) .catalog-item__picture__wrapper {
      margin-bottom: -30px;
    }
  }

  .catalog-item__info--wrapper {
    display: flex;
    justify-content: space-between;
  }

  .catalog-item__button {
    &:hover {
      background-color: #5eaa2f;
    }

    &:active {
      background-color: #5eaa2f;
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media (min-width: $tablet-width) {
  .catalog-item {
    display: flex;
    flex-direction: column;
    padding: 0 0 38px 0;
    width: 324px;
    background: linear-gradient(#ffffff 16%, #f2f2f2 16%);
    margin-bottom: 0;
    border: none;

    &:not(:nth-of-type(1)) {
      border-top: none;
      padding-top: 0;
    }

    &:nth-of-type(2) {
      padding-bottom: 0;
    }

    &:nth-of-type(7) {
      padding-bottom: 38px;
    }

    &:nth-of-type(1) .catalog-item__picture__wrapper {
      margin-top: 5px;
      margin-bottom: 10px;
    }

    &:nth-of-type(1) .catalog-item__info--wrapper {
      margin-bottom: 20px;
    }

    &:nth-of-type(2) .catalog-item__picture__wrapper {
      margin-top: 12px;
      margin-bottom: 3px;
    }

    &:nth-of-type(2) .catalog-item__title {
      margin-bottom: 21px;
    }

    &:nth-of-type(2) .catalog-item__info--wrapper {
      margin-bottom: 20px;
    }

    &:nth-of-type(3) .catalog-item__picture__wrapper {
      margin-top: 6px;
      margin-bottom: 10px;
    }

    &:nth-of-type(3) .catalog-item__info--wrapper {
      margin-bottom: 18px;
    }

    &:nth-of-type(4) .catalog-item__picture__wrapper {
      margin-top: 6px;
      margin-bottom: 10px;
    }

    &:nth-of-type(4) .catalog-item__info--wrapper {
      margin-bottom: 18px;
    }

    &:nth-of-type(5) .catalog-item__picture__wrapper {
      margin-top: 6px;
      margin-bottom: 10px;
    }

    &:nth-of-type(5) .catalog-item__info--wrapper {
      margin-bottom: 18px;
    }

    &:nth-of-type(6) .catalog-item__picture__wrapper {
      margin-top: 6px;
      margin-bottom: 10px;
    }

    &:nth-of-type(6) .catalog-item__info--wrapper {
      margin-bottom: 18px;
    }

    &:nth-of-type(7) .catalog-item__picture__wrapper {
      margin-top: 6px;
      margin-bottom: 10px;
    }

    &:nth-of-type(7) .catalog-item__info--wrapper {
      margin-bottom: 18px;
    }
  }

  .catalog-item__picture__wrapper {
    height: 208px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .catalog-item__info {
    display: flex;
    flex-direction: column;
  }

  .catalog-item__info--wrapper {
    margin-bottom: 21px;
    margin-left: 37px;
  }

  .catalog-item__title {
    align-self: center;
    font-size: 20px;
    line-height: 24px;
    width: 130px;
    text-align: center;
    margin-bottom: 21px;
  }

  .catalog-item__button {
    width: 248px;
    align-self: center;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item {
    width: 245px;
  }

  .catalog-item {
    &:nth-of-type(1) .catalog-item__picture__wrapper,
    &:nth-of-type(3) .catalog-item__picture__wrapper {
      margin-top: -2px;
      margin-bottom: 19px;
      margin-left: 2px;
    }

    &:nth-of-type(2) .catalog-item__picture__wrapper {
      margin-top: 0;
      margin-bottom: 17px;
      margin-left: 4px;
    }

    &:nth-of-type(2) .catalog-item__title {
      margin-bottom: 25px;
    }

    &:nth-of-type(4) .catalog-item__picture__wrapper {
      margin-top: -6px;
      margin-bottom: 23px;
      margin-left: 4px;
    }

    &:nth-of-type(5) .catalog-item__picture__wrapper {
      margin-top: -1px;
      margin-bottom: 19px;
      margin-left: 2px;
    }

    &:nth-of-type(6) .catalog-item__picture__wrapper {
      margin-top: -5px;
      margin-bottom: 23px;
      margin-left: 5px;
    }

    &:nth-of-type(7) .catalog-item__picture__wrapper {
      margin-top: -1px;
      margin-left: 2px;
      margin-bottom: 19px;
    }
  }

  .catalog-item__title {
    line-height: 21px;
    margin-left: 7px;
    margin-bottom: 25px;
  }

  .catalog-item__info--wrapper {
    margin-left: 41px;
  }

  .catalog-item__button {
    width: 168px;
    margin-left: 1px;
  }
}
