@media (min-width: $mobile-width) {
  .catalog-item {
    display: grid;
    grid-template-columns: 140px 140px;
    padding: 11px 18px 14px 20px;
    row-gap: 13px;
    margin-bottom: 11px;

    &:not(:nth-of-type(1)) {
      border-top: 1px solid #ebebeb;
      padding-top: 19px;
    }

    &:nth-of-type(7) {
      border-bottom: 1px solid #ebebeb;
      padding-bottom: 25px;
      margin-bottom: 0;
    }
  }

  .catalog-item__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    width: 76px;
    margin: 0;
    margin-bottom: 18px;
  }

  .catalog-item__button {
    @include button;
    grid-column: span 2;
    height: 40px;
    background-color: $basic_green;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
  }

  .catalog-item__picture {
    justify-self: center;
    align-self: center;
  }

  .catalog-item__info--wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $tablet-width) {
  .catalog-item {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 324px;
    background: linear-gradient(#ffffff 20%, #f2f2f2 20%);
    margin-bottom: 0;

    &:not(:nth-of-type(1)) {
      border-top: none;
      padding-top: 0;
    }
  }

  .catalog-item__info {
    display: flex;
    flex-direction: column;
  }

  .catalog-item__title {
    align-self: center;
    font-size: 20px;
    line-height: 24px;
    width: 130px;
    text-align: center;
    margin-bottom: 20px;
  }

  .catalog-item__button {
    width: 248px;
    align-self: center;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item {
    width: 245px;
  }

  .catalog-item__button {
    width: 168px;
  }
}
