@media (min-width: $mobile-width) {
  .characteristics p {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 16px;
  }
}

@media (min-width: $tablet-width) {
  .characteristics p {
    font-size: 16px;
    line-height: 16px;
    color: #444444;
  }

  .characteristics__weight,
  .characteristics__flavor {
    margin-bottom: 16px;
  }

  .characteristics__weight {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 250px;
      height: 1px;
      background-color: #cdcdcd;
      top: 22px;
    }
  }

  .characteristics__flavor {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 250px;
      height: 1px;
      background-color: #cdcdcd;
      top: 22px;
    }
  }

  .characteristics__price {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 250px;
      height: 1px;
      background-color: #cdcdcd;
      top: 22px;
    }
  }
}

@media (min-width: $desktop-width) {
  .characteristics__weight {
      &::before {
      width: 169px;
    }
  }

  .characteristics__flavor {
    &::before {
      width: 169px;
    }
  }

  .characteristics__price {
    &::before {
      width: 169px;
    }
  }
}
