@media (min-width: $mobile-width) {
  .check {
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      width: 28px;
      height: 28px;
      position: absolute;
      border: 1px solid $special_grey;
      transform: translateY(-50%);
      top: 50%;
    }
  }

  .check__label {
    margin-left: 46px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {
  .check__label {
    font-size: 20px;
  }
}
