.comment-inputs {
  border-top:2px solid $basic_green;
  margin-left:20px;
  padding-bottom:22.75px;
}
.comment-inputs__title {
  font-size:24px;
  line-height:26px;
  padding-right:22px;
  margin-bottom:37.73px;
}
.comment-inputs__area {
  border:1px solid #E7E7E7;
  width:280px;
  height:150.52px;
}
