@media (min-width: $mobile-width) {
  .contact-inputs {
    border: none;
    padding-bottom: 11px;
    margin: 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 50%;
      height: 2px;
      background-color: $basic_green;
      right: 0;
      top: 16px;
    }
  }

  .contact-inputs__container {
    width: 280px;
    margin: 0 auto;
  }

  .contact-inputs__title {
    text-align: left;
    width: 187px;
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 34px;
    padding-right: 14px;
    background-color: #ffffff;
    position: relative;
    margin-left: -2px;
  }
}

@media (min-width: $tablet-width) {
  .contact-inputs {
    padding-bottom: 66px;
    margin-left: 0;
    margin-top: 75px;

    &::before {
      width: 100%;
      top: 22px;
    }
  }

  .contact-inputs__container {
    width: 640px;
    margin: 0 auto;
  }

  .contact-inputs__title {
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    width: 512px;
    padding-left: 39px;
    padding-right: 42px;
    margin-bottom: 76px;
    margin-left: -34px;
  }
}

@media (min-width: $desktop-width) {
  .contact-inputs {
    padding-bottom: 0;
  }

  .contact-inputs__container {
    width: 1220px;
    margin: 0 auto;
  }

  .contact-inputs__title {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -40px;
  }

  .contact-inputs__wrapper {
    display: flex;
    margin-bottom: 69px;
  }
}
