.contact-inputs {
  border-top:2px solid $basic_green;
  padding-bottom:23.57px;
  margin-left:20px;
}
.contact-inputs__title {
  text-align:left;
  width:187px;
  font-size:24px;
  font-weight:400;
  line-height:26px;
  margin-bottom:35.07px;
  padding-right:14px;
}
