@media (min-width: $mobile-width) {
  .example {
    padding: 25px 20px 45px 20px;
    background-color: #eaeaea;
  }

  .example__wrapper {
    width: 280px;
    margin: 0 auto;
  }

  .example__title {
    margin: 0;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 42px;
  }

  .example__description {
    margin: 0;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 19px;
    color: $special_dark-grey;
    width: 280px;
  }

  .example__results {
    margin-bottom: 32px;
  }

  .example__spent {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    text-align: center;
    margin-bottom: 40px;
  }
}

@media (min-width: $tablet-width) {
  .example {
    background: linear-gradient(to bottom, #ffffff 57.5%, #eaeaea 57.5%);
    border-top: 1px solid #e6e6e6;
    padding-top: 43px;
    margin: 0 auto;
    width: 100%;
    padding: 0 0 64px 0;
  }

  .example__wrapper {
    width: 708px;
    margin: 0 auto;
    padding-top: 43px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  .example__title-info-wrapper {
    margin-bottom: 51px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    width: 708px;
    margin-bottom: 54px;
  }

  .example__results-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .example__spent {
    font-size: 20px;
    line-height: 27px;
    width: 174px;
    text-align: right;
    margin-top: 9px;
  }

  .example__spent__wrapper {
    margin-top: 10px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    background: linear-gradient(to bottom, #ffffff 23%, #eaeaea 23%);
    display: flex;
    border-top: none;
    padding-bottom: 0;
  }

  .example__title {
    margin-bottom: 146px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    width: 436px;
    margin-bottom: 69px;
  }

  .example__wrapper {
    display: flex;
    width: 1220px;
    margin: 0 auto;
    padding-top: 0;
    margin-top: 6px;
  }

  .example__spent {
    margin-top: 23px;
  }

  .example__spent__wrapper {
    display: block;
    margin-top: -28px;
    margin-right: -153px;
  }

  .example__results-wrapper {
    flex-direction: column;
  }

  .example__title-info-wrapper {
    margin-right: 193px;
  }
}
