@media (min-width: $mobile-width) {
  .gift {
    margin: 35px 20px 35px 20px;
  }

  .gift__wrapper {
    position: relative;
    width: 279px;
    height: 289px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gift__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .gift__description {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    width: 161px;
    text-align: center;
    color: #ffffff;
    z-index: 2;
    margin-top: 187px;
  }

  .gift__icon {
    z-index: 2;
    position: absolute;
    top: 59px;
    left: 101px;
  }
}

@media (min-width: $tablet-width) {
  .gift {
    margin: 69px 30px 76px 30px;
  }

  .gift__wrapper {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    height: 200px;
  }

  .gift__icon {
    top: 57px;
    left: 77px;
  }

  .gift__description {
    margin: 0;
    text-align: left;
    margin-top: 71px;
    margin-left: 422px;
  }
}

@media (min-width: $desktop-width) {
  .gift {
    margin: 117px 110px 86px 79px;
  }

  .gift__wrapper {
    width: 245px;
    flex-direction: column;
    height: 289px;
  }

  .gift__icon {
    top: 56px;
    left: 84px;
  }

  .gift__description {
    margin: 0;
    text-align: center;
    margin-top: 185px;
    margin-left: 41px;
  }
}
