@media (min-width: $mobile-width) {
  .gift {
    margin: 36px 20px 35px 20px;
  }

  .gift__wrapper {
    position: relative;
    background-color: $basic_green;
    width: 279px;
    height: 289px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .gift__bg-image {
    position: absolute;
    opacity: 20%;
  }

  .gift__description {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    width: 161px;
    text-align: center;
    color: #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .gift {
    margin: 69px 30px 76px 30px;
  }

  .gift__wrapper {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .gift__icon {
    margin-left: 77px;
  }

  .gift__description {
    margin-right: 124px;
  }
}

@media (min-width: $desktop-width) {
  .gift {
    margin: 117px 110px 86px 79px;
  }

  .gift__wrapper {
    width: 245px;
    flex-direction: column;
  }

  .gift__icon {
    margin-left: 0;
    margin-top: 55.86px;
  }

  .gift__description {
    margin-right: 0;
    margin-bottom: 42.12px;
  }
}
