@media (min-width: $mobile-width) {
  .goods-item {
    display: flex;
    flex-direction: column;
    padding-top: 13px;
    padding-bottom: 18px;
    margin-right: 20px;
    border-top: 1px solid #cdcdcd;

    &:nth-of-type(4) {
      border-bottom: 1px solid #cdcdcd;
    }

    &:nth-of-type(2) {
      padding-bottom: 18px;
    }
  }

  .goods-item {
    &:nth-of-type(2) .goods-item__info {
      margin-bottom: 14px;
    }
  }

  .goods-item__title {
    margin: 0;
    text-transform: uppercase;
    color: #222222;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 13px;
  }

  .goods-item__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .goods-item__amount,
  .goods-item__price {
    margin: 0;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 14px;
  }
}

@media (min-width: $tablet-width) {
  .goods-item {
    padding: 26px 38px 27px;
    display: flex;
    flex-direction: row;
    width: 630px;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 0;
  }

  .goods-item {
    &:nth-of-type(2) {
      padding-bottom: 27px;
    }

    &:nth-of-type(2) .goods-item__amount {
      margin-left: 1px;
      margin-right: 57px;
    }

    &:nth-of-type(2) .goods-item__title {
      margin-bottom: 26px;
    }

    &:nth-of-type(3) {
      padding-bottom: 26px;
    }

    &:nth-of-type(3) .goods-item__title {
      margin-bottom: 25px;
    }

    &:nth-of-type(3) .goods-item__info {
      margin-bottom: 19px;
    }

    &:nth-of-type(4) .goods-item__title {
      margin-bottom: 25px;
    }
  }

  .goods-item__info {
    justify-content: center;
  }

  .goods-item__title {
    font-size: 20px;
    line-height: 20px;
    margin-right: 242px;
    margin-bottom: 24px;
    color: #222222;
    width: 163px;
  }

  .goods-item__amount {
    margin-right: 49px;
    color: #444444;
    font-size: 16px;
    line-height: 20px;
    width: 132px;
    text-align: right;
  }

  .goods-item__price {
    color: #444444;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .goods-item {
    padding: 15px 0 16px;
    width: 896px;
    align-items: center;
    flex-wrap: nowrap;
  }

  .goods-item {
    &:nth-of-type(2) {
      padding-bottom: 16px;
    }

    &:nth-of-type(2) .goods-item__title {
      margin-bottom: 0;
    }

    &:nth-of-type(2) .goods-item__info {
      margin-top: 10px;
      margin-bottom: 0;
    }

    &:nth-of-type(2) .goods-item__amount {
      margin-right: 112px;
    }

    &:nth-of-type(3) {
      padding-bottom: 16px;
    }

    &:nth-of-type(3) .goods-item__title {
      margin-bottom: 0;
    }

    &:nth-of-type(3) .goods-item__info {
      margin-bottom: 0;
      margin-top: 5px;
    }

    &:nth-of-type(4) .goods-item__title {
      margin-bottom: 0;
    }
  }

  .goods-item__title {
    width: 161px;
    margin-right: 163px;
    margin-bottom: 0;
  }

  .goods-item__info {
    margin-bottom: -7px;
  }

  .goods-item__amount {
    text-align: left;
    margin-right: 112px;
  }

  .goods-item__price {
    width: 44px;
    margin-right: 39px;
  }
}
