@media (min-width: $mobile-width) {
  .inputs {
    display: flex;
    flex-direction: column;
  }

  .inputs__field {
    border: none;
    padding: 0;
  }

  .inputs__button {
    @include button;
    width: 280px;
    height: 40px;
    background-color: $basic_green;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 21px;
  }

  .inputs__button-aside-info {
    width: 280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inputs__aside-info {
    align-self: center;
    margin: 0;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 32px;
  }
}

@media (min-width: $tablet-width) {
  .inputs__button {
    margin-left: 71px;
    width: 282px;
    height: 52px;
    font-size: 20px;
    margin-bottom: 0;
  }

  .inputs__aside-info {
    font-size: 16px;
    line-height: 16px;
    margin-left: 49px;
    margin-bottom: 0;
  }

  .inputs__button-aside-info {
    display: flex;
    align-items: center;
    margin-bottom: 72px;
  }
}

@media (min-width: $desktop-width) {
  .inputs__wrapper--first {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
  }

  .inputs__button-aside-info {
    width: 1220px;
    margin: 0 auto;
    padding-bottom: 82px;
  }

  .inputs__button {
    margin-left: 0;
    width: 568px;
  }
}
