@media (min-width: $mobile-width) {
  .main-nav {
    margin: 0 auto;
    display: none;
  }

  .main-nav--no-js {
    display: block;
    margin-left: -21px;
    margin-top: -5px;
  }

  .main-nav--shown {
    position: absolute;
    display: block;
    z-index: 3;
    background-color: #ffffff;
    margin-top: 250px;
    margin-left: -20px;
  }

  .main-nav__wrapper {
    width: 320px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: block;
    margin: 0;
    z-index: 2;
    width: auto;
    margin-top: 1px;
  }

  .main-nav__wrapper {
    width: 440px;
  }

  .nav-toggle {
    @include visually-hidden;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 478px;
  }

  .main-nav__wrapper {
    margin-left: -12px;
  }
}
