@media (min-width: $mobile-width) {
  .main-nav {
    margin: 0 auto;
    display: none;
  }

  .main-nav__toggle {
    @include button;
    width: 24px;
    height: 18px;
    margin-left: 64px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-color: #000000;
      width: 24px;
      height: 2px;
      box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
      top: 1px;
      left: -1px;
    }
  }

  .main-nav__toggle--close {
    &::before {
      box-shadow: none;
      transform: rotate(45deg);
      width: 25px;
      top: 7px;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: #000000;
      width: 25px;
      height: 2px;
      transform: rotate(-45deg);
      left: 0;
      top: 7px;
    }
  }

  .main-nav--no-js {
    display: block;
    margin-left: -21px;
    margin-top: -5px;
  }

  .main-nav--shown {
    position: absolute;
    display: block;
    z-index: 3;
    background-color: #ffffff;
    margin-top: 250px;
    margin-left: -20px;
  }

  .main-nav__wrapper {
    width: 320px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: block;
    margin: 0;
    z-index: 2;
    width: auto;
    margin-top: 1px;
  }

  .main-nav__wrapper {
    width: 440px;
  }

  .main-nav__toggle {
    @include visually-hidden;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 478px;
  }

  .main-nav__wrapper {
    margin-left: -12px;
  }
}
