@media (min-width: $mobile-width) {
  .name-input {
    margin-bottom: 13px;
  }

  .name-input__label {
    margin-right: 13px;
  }

  .name-input__input {
    width: 211px;
    height: 45px;
    // padding-left: 15px;
    // padding-top: 17px;
    // padding-bottom: 11px;

    &::placeholder {
      // padding-left: 15px;
      padding-top: 30px
    }
  }
}

@media (min-width: $tablet-width) {
  .name-input {
    margin-bottom: 20px;
  }

  .name-input__input {
    width: 544px;
    padding-left: 17px;
    padding-top: 22px;
    padding-bottom: 13px;
  }
}

@media (min-width: $desktop-width) {
  .name-input__input {
    width: 482px;
    padding-left: 18px;
    padding-top: 22px;
    padding-bottom: 13px;
  }
}
