@media (min-width: $mobile-width) {
  .name-input {
    margin-bottom: 14px;
  }

  .name-input__label {
    margin-right: 13px;
  }

  .name-input__input {
    width: 223px;
  }
}

@media (min-width: $tablet-width) {
  .name-input__input {
    width: 567px;
  }
}

@media (min-width: $desktop-width) {
  .name-input__input {
    width: 506px;
  }
}
