@media (min-width: $mobile-width) {
  .order-button {
    @include button;
    width: 280px;
    height: 40px;
    background-color: $basic_green;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .order-button {
    width: 632px;
    line-height: 0;
  }
}
