body {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (min-width: $desktop-width) {
  .page-body--index {
    &::before {
      content: "";
      background-image: url(../../img/intro-bg-desktop.jpg);
      background-color: #68b738;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      width: 50%;
      height: 694px;
      background-position-x: right;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url(../../img/intro-bg-desktop@2x.jpg);
      }
    }
  }
}
