@media (min-width: $mobile-width) {
  .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 6px;

    &--active {
      border-bottom: 1px solid #d9d9d9;
    }
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    padding:24px 30px 62px 30px;
    justify-content:space-between;
  }

  .page-header--active {
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background:linear-gradient(to right, white 50%, #68b738 50%);
    padding: 53px 110px 29px;
  }

  .page-header--active {
    background: #ffffff;
  }

  .page-header--form {
    padding-bottom: 0;
  }
}
