@media (min-width: $mobile-width) {
  .page-footer {
    display: flex;
    flex-direction: column;

    &--active {
      background-color: $basic_grey;
    }
  }
}

@media (min-width: $tablet-width) {
  .page-footer__contacts {
    display: flex;
    padding: 58px 30px;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
  }

  .page-footer__contacts__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 708px;
    margin: 0 auto;
  }
}

@media (min-width: 1441px) {
  .page-footer__contacts {
    padding: 58px 0;
  }
  .page-footer__contacts__wrapper {
    width: 1220px;
    margin: 0 auto;
  }
}
