@media (min-width: $mobile-width) {
  .phone-form {
    margin-bottom: 14.05px;
    display: flex;
    align-items: center;
    width: 280px;
    justify-content: space-between;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../../img/icon_phone.svg");
      width: 20px;
      height: 20.5px;
      left: 247px;
      top: 13px;
    }
  }

  .phone-form__label {
    color: $special_dark-grey;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 18px;
  }

  .phone-form__input {
    border: 1px solid $special_grey;
    padding-left: 15px;
    padding-top: 17px;
    padding-bottom: 11px;
    width: 185px;

    &:hover {
      outline: 1px solid #cdcdcd;
    }

    &:active,
    &:focus {
      outline: 2px solid #444444;
    }

    &:invalid {
      outline: 2px solid #ff8282;
    }

    &::placeholder {
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 16px;
      line-height: 18px;
      color: #444444;
      text-transform: uppercase;
    }
  }
}

@media (min-width: $tablet-width) {
  .phone-form {
    margin-bottom: 0;
    width: 632px;
    margin-left: 4px;

    &::before {
      left: 597px;
      top: 16px;
    }
  }

  .phone-form__label {
    font-size: 20px;
    vertical-align: middle;
  }

  .phone-form__input {
    padding-left: 19px;
    padding-top: 21px;
    padding-bottom: 14px;
    width: 510px;

    &::placeholder {
      font-size: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .phone-form {
    margin-left: 78px;
    margin-bottom: 0;

    &::before {
      left: 534px;
    }
  }

  .phone-form__input {
    width: 450px;
    padding-left: 18px;
    padding-top: 22px;
    padding-bottom: 13px;
  }
}
