@media (min-width: $mobile-width) {
  .phone-form {
    margin-bottom: 14.05px;
    display: flex;
    align-items: center;
    width: 280px;
    justify-content: space-between;
  }

  .phone-form__label {
    color: $special_dark-grey;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 18px;
  }

  .phone-form__input {
    border: 1px solid $special_grey;
    padding: 14px 0 13px 4px;
    width: 198px
  }
}

@media (min-width: $tablet-width) {
  .phone-form {
    margin-bottom: 0;
    width: 632px;
    margin-left: 4px;
  }

  .phone-form__label {
    font-size: 20px;
    vertical-align: middle;
  }

  .phone-form__input {
    padding-left: 20.62px;
    padding-top: 17px;
    padding-bottom: 17px;
    width: 510px;
  }
}

@media (min-width: $desktop-width) {
  .phone-form {
    margin-left: 78px;
    margin-bottom: 0;
  }

  .phone-form__input {
    width: 453.81px;
    padding-left: 18.19px;
  }
}
