.phone-form {
  margin-bottom:14.05px;
}
.phone-form__label {
  color:$special_dark-grey;
  font-size:16px;
  text-transform:uppercase;
  line-height:18px;
  margin-right:8px;
}
.phone-form__input {
  border:1px solid $special_grey;
  padding-left:16.24px;
  width:187.76px;
  height:45.15px;
}
