@media (min-width: $mobile-width) {
  .program-item {
    display: flex;
    flex-direction: column;
    width: 240px;
    background-color: $basic_grey;
    margin-top: 20px;
    padding: 20px;

    &:nth-of-type(1) {
      padding-bottom: 17px;
    }

    &:nth-of-type(2) {
      padding: 20px 20px 18px 13px;
      width: 247px;
    }

    &:nth-of-type(1) .program-item__title {
      margin-left: 19px;
      margin-top: 2px;
    }

    &:nth-of-type(2) .program-item__title {
      margin-left: 11px;
      margin-top: 2px;
    }

    &:nth-of-type(2) .program-item__description {
      margin-left: 7px;
    }

    &:nth-of-type(2) .program-item__button {
      margin-left: 7px;
      margin-top: 21px;

      &::after {
        left: 99px;
      }
    }

    &:nth-of-type(1) .program-item__picture {
      background-image: url("../../img/cat_slimming.svg");
      width: 50px;
      height: 53px;
      margin-left: 2px;
      margin-top: 1px;
    }

    &:nth-of-type(2) .program-item__picture {
      background-image: url("../../img/cat_weight.svg");
      width: 67px;
      height: 50px;
      margin-top: 4px;
    }

    &:nth-of-type(1) .program-item__title-picture {
      margin-bottom: 22px;
    }

    &:nth-of-type(1) .program-item__button {
      margin-top: 22px;
      padding-top: 16px;
    }
  }

  .program-item__title-picture {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
  }

  .program-item__title {
    margin: 0;
    font-weight: 400;
    line-height: 37px;
    text-transform: uppercase;
  }

  .program-item__description {
    font-family: "Arial", sans-serif;
    line-height: 18px;
    font-size: 14px;
    width: 227px;
    margin: 0;
    margin-right: 0;
  }

  .program-item__button {
    margin-top: 23px;
    padding-top: 15px;
    border-top: 1px solid #d9d9d9;
    width: 240px;
    text-transform: uppercase;
    position: relative;

    &::after {
      content: "";
      background-image: url("../../img/icon_arrow.svg");
      width: 24px;
      height: 12px;
      position: absolute;
      z-index: 3;
      left: 101px;
      top: 21px;
    }

    &:hover::after {
      background-image: url("../../img/icon_arrow-hover.svg");
      width: 50px;
      background-repeat: no-repeat;
    }

    &:active,
    &:active::after {
      opacity: 30%;
    }
  }
}

@media (min-width: $tablet-width) {
  .program-item {
    width: 656px;
    padding: 77px 0 58px 52px;

    &:nth-of-type(2) {
      width: 656px;
      margin-top: 30px;
      padding: 77px 0 56px 52px;
    }

    &:nth-of-type(1) .program-item__title,
    &:nth-of-type(2) .program-item__title {
      margin-left: 1px;
      font-size: 36px;
      line-height: 36px;
    }

    &:nth-of-type(2) .program-item__description {
      margin-left: 0;
    }

    &:nth-of-type(2) .program-item__button {
      margin-left: 0;

      &::after {
        left: 130px;
      }
    }

    &:nth-of-type(1) .program-item__picture {
      background-image: url("../../img/cat_slimming_tablet.svg");
      width: 200px;
      height: 211px;
      position: absolute;
      left: 394px;
      top: 4px;
    }

    &:nth-of-type(2) .program-item__picture {
      background-image: url("../../img/cat_weight_tablet.svg");
      width: 268px;
      height: 200px;
      position: absolute;
      left: 360px;
      top: 14px;
    }

    &:nth-of-type(1) {
      padding-bottom: 55px;
    }

    &:nth-of-type(1) .program-item__title {
      margin-top: 0;
      margin-bottom: 26px;
    }

    &:nth-of-type(1) .program-item__title-picture {
      margin-bottom: 0;
    }

    &:nth-of-type(1) .program-item__picture,
    &:nth-of-type(2) .program-item__picture {
      margin-left: 0;
      margin-top: 0;
    }

    &:nth-of-type(1) .program-item__button,
    &:nth-of-type(2) .program-item__button {
      margin-top: 0;
      padding-top: 0;
    }
  }

  .program-item__title-picture {
    display: block;
    position: relative;
    margin-bottom: 24px;
  }

  .program-item__description {
    font-size: 16px;
    line-height: 24px;
    width: 340px;
    margin-bottom: 52px;
    color: #000000;
  }

  .program-item__button {
    border-top: none;
    padding-top: 0;
    font-size: 20px;
    margin-top: 0;

    &::after {
      top: 9px;
      left: 133px;
    }
  }
}

@media (min-width: $desktop-width) {
  .program-item {
    padding: 41px 51px 55px 52px;
    width: 467px;

    &:nth-of-type(1) {
      padding-bottom: 58px;
    }

    &:nth-of-type(1),
    &:nth-of-type(2) {
      margin-top: 0;
    }

    &:nth-of-type(2) {
      margin-left: 80px;
      padding: 47px 61px 55px 33px;
      width: 476px;
    }

    &:nth-of-type(1) .program-item__title {
      margin-top: -1px;
      margin-bottom: 0;
    }

    &:nth-of-type(2) .program-item__title {
      margin-top: -9px;
    }

    &:nth-of-type(1) .program-item__title-picture {
      margin-bottom: 40px;
    }

    &:nth-of-type(1) .program-item__description {
      width: 467px;
    }

    &:nth-of-type(2) .program-item__description {
      width: 457px;
      margin-left: 19px;
    }

    &:nth-of-type(2) .program-item__button {
      margin-left: 19px;
    }

    &:nth-of-type(1) .program-item__button::after {
      left: 136px;
    }

    &:nth-of-type(1) .program-item__picture {
      background-image: url("../../img/cat_slimming_desktop.svg");
      width: 100px;
      height: 106px;
      position: static;
      margin-right: 62px;
    }

    &:nth-of-type(2) .program-item__picture {
      background-image: url("../../img/cat_weight_desktop.svg");
      width: 134px;
      height: 100px;
      position: static;
      margin-right: 47px;
    }
  }

  .program-item__title-picture {
    display: flex;
    margin-bottom: 40px;
  }

  .program-item__slimming-icon,
  .program-item__weight-icon {
    position: static;
  }

  .program-item__description {
    margin-bottom: 27px;
  }

  .program-item__button {
    &:hover::after {
      background-image: url("../../img/icon_arrow-hover.svg");
      width: 50px;
      background-repeat: no-repeat;
    }

    &:active,
    &:active::after {
      opacity: 30%;
    }
  }
}
