.radio-inputs {
  &__slimming {
    margin-bottom: 13.04px;
  }

  &__weight-gain {
    margin-bottom: 12.04px;
  }
  padding-bottom: 19.38px;
  padding-top: 22.22px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 26px;
}
