@media (min-width: $mobile-width) {
  .radio-inputs {
    &__slimming {
      margin-bottom: 19px;
    }

    &__weight-gain {
      margin-bottom: 18px;
    }

    padding-bottom: 21px;
    padding-top: 26px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 26px;
    width: 100%;
    margin-left: 0;
  }

  .radio-inputs__wrapper {
    width: 280px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .radio-inputs {
    border-bottom: none;
    border: 1px solid #e7e7e7;
    width: 628px;
    margin: 0 auto;
    padding: 0;

    &__slimming {
      margin-bottom: 29px;
    }

    &__weight-gain {
      margin-bottom: 29px;
    }
  }

  .radio-inputs__wrapper {
    width: 600px;
    padding: 34px 0 29px 28px;
  }
}

@media (min-width: $desktop-width) {
  .radio-inputs {
    margin-bottom: 47px;
    margin-left: 81px;
    width: 568px;
    height: 196px;
  }
}
