@media (min-width: $mobile-width) {
  .results {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    width: 280px;

    &__weight {
      padding: 14.5px 42.4px 17.6px 42.7px;

      &::before {
        content: "снижение веса";
        font-size: 12px;
        font-family: "Arial", sans-serif;
        position: absolute;
        background-color: #eaeaea;
        width: 77px;
        top: 46px;
        left: 22px;
        line-height: 100%;
        text-align: center;
        text-transform: none;
      }
    }

    &__time {
      padding: 14.5px 21.4px 17.6px 20.7px;

      &::before {
        content: "затрачено времени";
        font-size: 12px;
        font-family: "Arial", sans-serif;
        position: absolute;
        background-color: #eaeaea;
        width: 78px;
        top: 46px;
        left: 22px;
        line-height: 12px;
        text-align: center;
        text-transform: none;
      }
    }
  }

  .results__weight,
  .results__time {
    outline: 1px solid $special_grey;
    border-radius: 3px;
    position: relative;
  }
}

@media (min-width: $tablet-width) {
  .results__weight::before,
  .results__time::before {
    background-color: #ffffff;
  }

  .results__weight,
  .results__time {
    font-size: 30px;
    line-height: 35px;
  }

  .results__weight {
    margin-right: 45px;
    padding: 15px 46px 20px 57px;

    &::before {
      font-size: 14px;
      line-height: 14px;
      width: 97px;
      top: 63px;
      padding: 0 10px;
    }
  }

  .results__weight__text {
    width: 57px;
  }

  .results__time__text {
    width: 102px;
  }

  .results__time {
    margin-right: 167px;
    padding: 15px 28px 20px 30px;

    &::before {
      font-size: 14px;
      line-height: 14px;
      width: 135px;
      top: 63px;
      padding: 0 5px;
      white-space: nowrap;
      left: 7px;
    }
  }
}

@media (min-width: $desktop-width) {
  .results__weight::before,
  .results__time::before {
    background-color: #eaeaea;
  }
}
