@media (min-width: $mobile-width) {
  .social-contacts {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d9d9d9;
    width: 280px;
    margin: 0 auto;
  }

  .social-contacts__item {
    &:nth-of-type(1) {
      margin-left: 73px;
      margin-top: -3px;
    }

    &:nth-of-type(2) {
      margin-left: 36px;
    }

    &:nth-of-type(3) {
      margin-left: 33px;
    }
  }

  .social-contacts__icon--vk {
    width: 23px;
    height: 16px;
  }

  .social-contacts__icon--ig {
    width: 16px;
    height: 16px;
  }

  .social-contacts__icon--fb {
    width: 22px;
    height: 22px;
  }

  .social-contacts__icon--vk,
  .social-contacts__icon--ig {
    fill: #666666;
  }

  .social-contacts__icon--fb {
    stroke: #666666;
    fill: transparent;
  }

  .social-contacts__link:hover .social-contacts__icon--vk,
  .social-contacts__link:hover .social-contacts__icon--ig {
    fill: #68b738;
  }

  .social-contacts__link:hover .social-contacts__icon--fb {
    stroke: #68b738;
  }

  .social-contacts__link:active .social-contacts__icon--vk,
  .social-contacts__link:active .social-contacts__icon--ig {
    fill: #68b738;
    opacity: 50%;
  }

  .social-contacts__link:active .social-contacts__icon--fb {
    stroke: #68b738;
    opacity: 50%;
  }
}

@media (min-width: $tablet-width) {
  .social-contacts {
    border-bottom: none;
    padding: 0;
    margin: 0;
    width: 128px;
    justify-content: space-between;
    margin-right: 132px;
    margin-top: 2px;
  }

  .social-contacts__item {
    &:nth-of-type(1) {
      margin-left: 0;
      margin-bottom: 8px;
      margin-right: 6px;
      margin-top: 0;
    }

    &:nth-of-type(2) {
      margin-left: 0;
      margin-bottom: 3px;
    }

    &:nth-of-type(3) {
      margin-left: 0;
      margin-top: -7px;
    }
  }

  .social-contacts__icon--vk {
    width: 30px;
    height: 22px;
  }

  .social-contacts__icon--ig {
   width: 23px;
   height: 23px;
  }

  .social-contacts__icon--fb {
    width: 28px;
    height: 33px;
  }
}

@media (min-width: $desktop-width) {
  .social-contacts {
    margin-right: -27px;
  }

  .social-contacts__link:hover .social-contacts__icon--vk,
  .social-contacts__link:hover .social-contacts__icon--ig {
    fill: #68b738;
  }

  .social-contacts__link:hover .social-contacts__icon--fb {
    stroke: #68b738;
  }

  .social-contacts__link:active .social-contacts__icon--vk,
  .social-contacts__link:active .social-contacts__icon--ig {
    fill: #68b738;
    opacity: 50%;
  }

  .social-contacts__link:active .social-contacts__icon--fb {
    stroke: #68b738;
    opacity: 50%;
  }
}
