@media (min-width: $mobile-width) {
  .social-contacts {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 18px;
    border-bottom: 1px solid #d9d9d9;
    width: 280px;
    margin: 0 auto;
  }

  .social-contacts__item {
    &:nth-of-type(1) {
      margin-left: 73px;
    }

    &:nth-of-type(2) {
      margin-left: 36px;
    }

    &:nth-of-type(3) {
      margin-left: 33px;
    }
  }
}

@media (min-width: $tablet-width) {
  .social-contacts {
    border-bottom: none;
    padding: 0;
    margin: 0;
    width: 128px;
    justify-content: space-between;
    margin-right: 132px;
  }

  .social-contacts__item {
    &:nth-of-type(1) {
      margin-left: 0;
      margin-bottom: 8px;
      margin-right: 6px;
    }

    &:nth-of-type(2) {
      margin-left: 0;
      margin-bottom: 3px;
    }

    &:nth-of-type(3) {
      margin-left: 0;
      margin-top: -7px;
    }
  }
}

@media (min-width: $desktop-width) {
  .social-contacts {
    margin-right: 0;
  }
}
