@media (min-width: $mobile-width) {
  .text-inputs {
    padding-bottom: 23px;
    width: 280px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .text-inputs {
    border-bottom: none;
    padding-left: 69px;
  }
}

@media (min-width: $desktop-width) {
  .text-inputs {
    padding-left: 0;
  }
}
