@media (min-width: $mobile-width) {
  .text-inputs {
    padding-bottom: 23px;
    width: 280px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .text-inputs {
    border-bottom: none;
    width: 630px;
    margin: 0 auto;
    padding-bottom: 0;
    margin-bottom: 54px;
  }
}

