@media (min-width: $mobile-width) {
  .text-input {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .text-input__label {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    color: $special_dark-grey;
  }

  .text-input__input {
    height: 41px;
    border: 1px solid #e7e7e7;
  }
}

@media (min-width: $tablet-width) {
  .text-input {
    margin: 0;
    margin-bottom: 18px;
  }

  .text-input__input {
    height: 49px;
  }

  .text-input__label {
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .text-input {
    width: 569px;
  }
}
