@media (min-width: $mobile-width) {
  .weight-input {
    margin-bottom: 13px;
  }

  .weight-input__label {
    margin-right: 16px;
  }

  .weight-input__input {
    width: 203px;
  }
}

@media (min-width: $tablet-width) {
  .weight-input {
    margin-bottom: 20px;
  }

  .weight-input__input {
    width: 536px;
  }
}
